/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.scss suffix will be treated as CSS modules
 * and scoped locally.
 */

:global .react-tabs {
  &__tab-panel {
    display: none;
    &--selected {
      display: initial;
    }
  }

  .tabs__item {
    font-family: 'Playfair Display', serif;
  }
}
